### A collection in MongoDB is like a table in a relational (SQL) database.
### It’s a group of related documents.
### Collections don’t enforce a fixed schema — meaning each document inside it can have different fields.

### Example:
### You might have a collection called "users" that stores all user data.
### Collection = Folder that contains multiple files (documents).

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.16.0-cp313-cp313-win_amd64.whl.metadata (10.0 kB)
Collecting dnspython<3.0.0,>=2.6.1 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.16.0-cp313-cp313-win_amd64.whl (959 kB)
   ---------------------------------------- 0.0/959.2 kB ? eta -:--:--
   ---------------------------------------- 959.2/959.2 kB 15.3 MB/s  0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
Installing collected packages: dnspython, pymongo

   ---------------------------------------- 0/2 [dnspython]
   ---------------------------------------- 0/2 [dnspython]
   ---------------------------------------- 0/2 [dnspython]
   ---------------------------------------- 0/2 [dnspython]
   ---------------------------------------- 0/2 [dnspython]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   ---------------------------------------- 2/2 [pymongo]

Successfully installed dnspython-2.8.0 pymongo-4.16.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
from pymongo import MongoClient

In [12]:
def connect_to_mongodb():
    try:
        #create a connection to the local MongoDB server
        client=MongoClient("mongodb://localhost:27017")
       
        #list all databse
        databases=client.list_database_names()
        print("connected successfully!")
        print("Databases:",databases)
        
        #Access a specifice database.
        db=client["EMP_Details"]
        
        #Access a collection(similar to a table)
        collection=db["EMP_Details"]

        #insert a sample document.
        sample_data={"name":"Vijaya","role":"Data Scientist"}
        insert_result=collection.insert_one(sample_data)
        print("Inserted document ID:",insert_result.inserted_id)

        #fetch one document
        fetch=collection.find_one({"name":"Vijaya"})
        print("Fetched document:",fetched)

        #close the connection

        client.close()

    except Exception as e:
        print("Error:",e)


if __name__ =="_main_":
    connect_to_mongodb()

## MongoDB with Python querying JSON documents

In [14]:
import pymongo
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['EmployeeTest']
empinfo=mydb.employeeinformation

In [15]:
empinfo

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'EmployeeTest'), 'employeeinformation')

In [16]:
record={'first name':'John',
        'last name':'Doe',
        'department':'Analytics',
        'qualification':'BE',
        'age':29
       }

In [17]:
empinfo.insert_one(record) #mql

InsertOneResult(ObjectId('696c6e02fd4626308e34c36f'), acknowledged=True)

In [20]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        }]

In [21]:
empinfo.insert_many(records)

InsertManyResult([ObjectId('696c6fa7fd4626308e34c370'), ObjectId('696c6fa7fd4626308e34c371'), ObjectId('696c6fa7fd4626308e34c372'), ObjectId('696c6fa7fd4626308e34c373')], acknowledged=True)

In [22]:
#simple way of querying
empinfo.find_one()

{'_id': ObjectId('696c6e02fd4626308e34c36f'),
 'first name': 'John',
 'last name': 'Doe',
 'department': 'Analytics',
 'qualification': 'BE',
 'age': 29}

In [23]:
#select * from employeeinformation
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('696c6e02fd4626308e34c36f'), 'first name': 'John', 'last name': 'Doe', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('696c6fa7fd4626308e34c370'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('696c6fa7fd4626308e34c371'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('696c6fa7fd4626308e34c372'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('696c6fa7fd4626308e34c373'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [25]:
# Query the json documents based on equality conditions
#select* from employeeinformation where firstname=John

for record in empinfo.find({'firstname':'John'}):
                            print(record)

{'_id': ObjectId('696c6fa7fd4626308e34c370'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}

In [26]:
# Query documents using query operators($in,$lt,$gt)
#select * from employeeinformation where qualification in ('phd','master')

for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('696c6fa7fd4626308e34c372'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('696c6fa7fd4626308e34c373'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [27]:
# And and Query operators
#select * from employeeinformation where qualification='master' and age<35;

for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('696c6fa7fd4626308e34c373'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [28]:
#or operators
#select * from employeeinformation where firstname='John'or qualification='BE';

for record in empinfo.find({'$or':[{'firstname':'John'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('696c6e02fd4626308e34c36f'), 'first name': 'John', 'last name': 'Doe', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('696c6fa7fd4626308e34c370'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}

In [30]:
inventory=mydb.inventory

In [31]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [32]:
# **select size from inventory where size in () 
for records in inventory.find({'size':{'h':14,'w':21,'uom':'cm'}}):
    print(records)

{'_id': ObjectId('696c7d79fd4626308e34c374'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

## update

In [33]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

InsertManyResult([ObjectId('696c7e05fd4626308e34c379'), ObjectId('696c7e05fd4626308e34c37a'), ObjectId('696c7e05fd4626308e34c37b'), ObjectId('696c7e05fd4626308e34c37c'), ObjectId('696c7e05fd4626308e34c37d'), ObjectId('696c7e05fd4626308e34c37e'), ObjectId('696c7e05fd4626308e34c37f'), ObjectId('696c7e05fd4626308e34c380'), ObjectId('696c7e05fd4626308e34c381'), ObjectId('696c7e05fd4626308e34c382')], acknowledged=True)

In [34]:
inventory.update_one(
{"item":"sketch pad"},
{"$set":{"size.uom":"m","status":"P"},
"$currentDate":{"lastModified":True}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [40]:
inventory.update_many(
    {'qty':{"$lt":50}},
    {'$set':{"size.uom":"in","status":"p"},
     "$currentDate":{"lastModified":True}})

UpdateResult({'n': 5, 'nModified': 5, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [41]:
inventory.replace_one(
    {'item':'paper'},
    {'item':'paper',
     'instoke':[
         {'warehouse':'A','qty':60},
         {'warehouse':'B','qty':40}]})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

## aggregate and group by in MongoDB

In [43]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()

In [44]:
#connect with the portnumber and host
client=MongoClient("mongodb://localhost:27017")

In [45]:
#Access database
mydatabase=client['Students']

In [46]:
collection=mydatabase['studentscores']
data=[
    {"user":"Davis", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Davis",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Davis",  "title":"Data Science", "score":95}]

In [47]:
collection.insert_many(data)

InsertManyResult([ObjectId('696c843ffd4626308e34c385'), ObjectId('696c843ffd4626308e34c386'), ObjectId('696c843ffd4626308e34c387'), ObjectId('696c843ffd4626308e34c388'), ObjectId('696c843ffd4626308e34c389'), ObjectId('696c843ffd4626308e34c38a')], acknowledged=True)

In [48]:
#find Amit and Davis total subjects

agg_result=collection.aggregate( #this aggregation group all documents in ypur collection by the field user,and for each unique user,
    [{
        '$group':
        {'_id':'$user',
        'Total Subject':{'$sum':1}
        }}
    ])

In [49]:
for i in agg_result:
    print(i)

{'_id': 'Davis', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [51]:
#calculate the total score based on user
agg_result=collection.aggregate(
    [{
        "$group":
        {"_id":"$user",
        "Total Marks":{"$sum":"$score"}
        }}
    ])
for i in agg_result:
    print(i)

{'_id': 'Davis', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [52]:
#calculate the average score based on user.
agg_result=collection.aggregate(
    [{
        "$group":
        {"_id":"$user",
        "AverageMarks":
         {"$avg":"$score"}
        }}
    ])
for i in agg_result:
    print(i)

{'_id': 'Davis', 'AverageMarks': 83.33333333333333}
{'_id': 'Amit', 'AverageMarks': 78.33333333333333}

In [55]:
import datetime as datetime

In [59]:
#create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.now(datetime.UTC)},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.now(datetime.UTC)},
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.now(datetime.UTC)},
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.now(datetime.UTC)},
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.now(datetime.UTC)}]

In [60]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2026, 1, 18, 7, 18, 8, 888931, tzinfo=datetime.timezone.utc)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2026, 1, 18, 7, 18, 8, 888935, tzinfo=datetime.timezone.utc)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2026, 1, 18, 7, 18, 8, 888936, tzinfo=datetime.timezone.utc)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2026, 1, 18, 7, 18, 8, 888937, tzinfo=datetime.timezone.utc)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2026, 1, 18, 7, 18, 8, 888938, tzinfo=datetime.timezone.utc)}]

In [61]:
mycollection=mydatabase['stores']
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [62]:
# calculating the average quantity And Average Price.
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}